<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andre.inframanaus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cone_inframanaus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfraManaus">
        <activity
            android:name=".activitys.EditPostagemActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activitys.MenuServicosActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.PostangensActivity"
            android:exported="false"
            android:label="@string/title_activity_postangens"
            android:theme="@style/Theme.InfraManaus.NoActionBar" />
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>